<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>File2RDF</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://cdn.rawgit.com/bassjobsen/Bootstrap-3-Typeahead/master/bootstrap3-typeahead.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/easy-autocomplete/1.3.5/jquery.easy-autocomplete.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
     <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js" integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og==" crossorigin=""></script>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'converter/form.css' %}?version=7" />
        <title>File2RDF</title>
</head>
<body>
    <!-- {% csrf_token %} -->

    <p>
        <div class="container">
            <div class="jumbotron">
                <h1 align="center" class="font-weight-bold, p-3 mb-2 bg-primary text-white">RDF File Converter</h1>
            </div>
        </div>
    </p>

    <div class="container">
        <div class="tab">
            <button class="tablinks" id="tab1" onclick="openTab(event, 'File2RDF')">File2RDF</button>
            <button class="tablinks" id="tab2" onclick="openTab(event, 'RDF2File')">RDF2File</button>
        </div>
        
        <div id="File2RDF" class="tabcontent">
                <div class="container">
                        <p><h2 align="center" class="font-weight-bold, p-3 mb-2 bg-info text-white">Convert your file</h2></p>
                    </div>
                    <p>
                        <div class="container">
                            <form>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" value="" id="customFile">
                                    <label class="custom-file-label" for="customFile">Choose file to convert to RDF</label>
                                </div>
                                <div class="mt-3" align="center">
                                    <button type="submit" value="customFile" class="btn btn-success" onclick="convertFile()">Submit</button>
                                </div>
                            </form>
                        </div>
                    </p>
                
                    <div class="container"><p><h2 align="center" class="font-weight-bold, p-3 mb-2 bg-info text-white">Search for Data</h2></p></div>
                
                    <!-- SEARCH DATA -->
                    <p>
                        <div class="container">
                            <div class="form-row">
                                <div class="form-group col-md-9">
                                    <input type="text" class="form-control" id="Search" value="" name="Search" onkeyup="autoComplete()" placeholder="Make your search here...">
                                </div>
                                <div class="form-group col-md-3">   
                                    <select id="inputState" class="form-control">
                                        <option selected>Where you want to search?</option>
                                        <option>Weather Data</option>
                                        <option>Buildings</option>
                                        <option>Etc...</option>
                                        </select>
                                </div>
                            </div>
                            <div class="mt-3" align="center">
                                    <button type="submit" value="Search" id="send" class="btn btn-success" onclick="makeSearch()">Submit</button>
                            </div>
                        </div>
                    </p>
                    <!-- SEARCH DATA -->
                
                
                    <p><h2 align="center">Use interactive search</h2></p>
                
                    <!-- MAKE BUTTONS -->
                    <p>
                        <div class="container" align="center">
                            <div class="btn-group btn-group-lg" align="center">
                                <button type="button" id="WeatherData" class="btn btn-success">Weather Data</button>
                                <button type="button" id="BuildingsData" class="btn btn-primary">Buildings Data</button>
                                <button type="button" id="Etc" class="btn btn-info">Etc...</button>
                            </div>
                        </div>
                    </p>

                    
                    <!-- MAKE BUTTONS -->
                
                    
        </div>
        
        <div id="RDF2File" class="tabcontent">
                <p>
                        <div class="container">
                            <div class="form-row">
                                <div class="form-group col-md-9">
                                        <form>
                                                <div class="custom-file">
                                                    <input type="file" class="custom-file-input" value="" id="customFileRDF">
                                                    <label class="custom-file-label" for="customFileRDF">Choose RDF file to convert to... </label>
                                                </div>
                                </div>
                                <div class="form-group col-md-3">   
                                    <select id="inputStateRDF" class="form-control">
                                        <option selected>Convert to...?</option>
                                        <option>Weather Data</option>
                                        <option>Buildings Data</option>
                                        <option>Etc...</option>
                                        </select>
                                </div>
                            </div>
                                <div class="mt-3" align="center">
                                        <button type="submit" value="customFileRDF" class="btn btn-success" onclick="convertFileRDF()">Submit</button>
                                </div>
                        </div>
                    </p>
        </div>
    </div>

    <!-- BIG BOX -->
    <p>
            <div class="container">
                <div class="jumbotron">
                    <div id='map' style="visibility: hidden;"></div>
                </div>
            </div>
        </p>
        <!-- BIG BOX -->


    


    <!-- SCRIPTS -->
    <script type="text/javascript" src="{% static 'converter/worldEP.js' %}"></script>
    <script type="text/javascript" src="{% static 'converter/oceans.js' %}"></script>

    <script>


        function openTab(evt, tabName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(tabName).style.display = "block";
        evt.currentTarget.className += " active";
        }



        document.body.onkeydown = function(e) {
                if (e.keyCode == 13){
                    makeSearch();
                
                }
            };

        $(".custom-file-input").on("change", function() {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });

        //  CÓDIGO PARA BOTONES
                $(document).on("click", '#WeatherData',function(){
                    $("#map").css('visibility','visible');
                })
                $(document).on("click", '#BuildingsData',function(){
                    $("#map").css('visibility','hidden');
                })
                $(document).on("click", '#Etc',function(){
                    $("#map").css('visibility','hidden');
                })
                $(document).on("click", '#tab2',function(){
                    $("#map").css('visibility','hidden');
                })


        // CÓDIGO PARA BOTONES


        // AQUÍ ESTÁ LA PARTE DEL MAPA
        var map = L.map('map');

        map.createPane('labels');

        // This pane is above markers but below popups
        map.getPane('labels').style.zIndex = 650;

        // Layers in this pane are non-interactive and do not obscure mouse/touch events
        map.getPane('labels').style.pointerEvents = 'none';

        var cartodbAttribution = '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, &copy; <a href="https://carto.com/attribution">CARTO</a>';

            var positron = L.tileLayer('https://{s}.basemaps.cartocdn.com/light_nolabels/{z}/{x}/{y}.png', {
                attribution: cartodbAttribution
            }).addTo(map);

        var positronLabels = L.tileLayer('http://{s}.basemaps.cartocdn.com/light_only_labels/{z}/{x}/{y}.png', {
            attribution: cartodbAttribution,
            pane: 'labels'
        }).addTo(map);



        function getColor(d) {
            return d == 1 ? '#800026' : 
                d == 2 ? '#1570BF' : 
                d == 3 ? '#38A673' : 
                d == 4 ? '#F2D129' : 
                d == 5 ? '#F26430' : 
                d == 6 ? '#F22F1D' : 
                d == 7 ? '#F22E62' : 
                '#092601'; 
        }

        function style(feature) { 
            return { 
            fillColor: getColor(
            feature.properties.mapcolor7), 
            weight: 1, 
            opacity: 1, 
            color: 'white', 
            dashArray: '', 
            fillOpacity: 0.3
            }; 
            }

	
            L.geoJson(geoLocations, { style: style }).addTo(map);



        geojson = L.geoJson(geoLocations).addTo(map);
        geojson = L.geoJson(geoOceans).addTo(map)

        geojson.eachLayer(function (layer) {
            layer.bindPopup(layer.feature.properties.name);
        });

        map.setView({ lat: 47.040182144806664, lng: 9.667968750000002 }, 2);



        //  AQUÍ TERMINA LA PARTE DEL MAPA





            function highlightFeature(e) {
            var layer = e.target;

            layer.setStyle({
                weight: 1,
                color: '#FFFF',
                dashArray: '',
                opacity: 1,
                fillOpacity: 1
            });

            

            if (!L.Browser.ie && !L.Browser.opera && !L.Browser.edge) {
                layer.bringToFront();
            }
        }



            function resetHighlight(e) {
                geojson.resetStyle(e.target);
            }




            var geojson;
            // ... our listeners
            geojson = L.geoJson(geoLocations);

            function zoomToFeature(e) {
                map.fitBounds(e.target.getBounds());
            }




            function onEachFeature(feature, layer) {
                layer.on({
                    mouseover: highlightFeature,
                    mouseout: resetHighlight,
                    click: zoomToFeature
                });
            }

            geojson = L.geoJson(geoLocations, {
                style: style,
                onEachFeature: onEachFeature
            }).addTo(map);




    </script>



    
    <!--    FIN SCRIPTS -->

</body>
</html>