html, body {
    background-size: 100%;
    height: 100%;
    background-attachment: fixed;
  }

#map { width: 1000PX; height: 700px; position: relative; outline: none; }


body {font-family: Arial;}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  /* float: left; */
  width: 49.8%;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

/* #tableContainer{

} */

/*-------------------------------------------------------------------------------------------*/

* {
  box-sizing: border-box;
}

#myInput {
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

/* #myTable {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 18px;
}

#myTable th, #myTable td {
  text-align: left;
  padding: 12px;
}

#myTable tr {
  border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
  background-color: #f1f1f1;
} */


/* ---------------------------------------------------------------------------------------------------------------------------- */

/* TABS */

.redbg{
  /* background: red!important; */
  background: rgb(255,174,6);
  background: linear-gradient(90deg,#ffa209 0%, #ea003e 100%);
  color: white!important;
}
body{
  font-family: 'Quicksand', sans-serif!important;
}
a{
  font-size: large;
  font-weight: 700!important;
  background: linear-gradient(90deg,#ffa209 0%, #ea003e 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.colorLink{
  -webkit-text-fill-color: black!important;
}

.whiteText{
  color: #ffffff!important;
  background: inherit!important;
  -webkit-background-clip: text;
  -webkit-text-fill-color: #ffffff;
}

.snapColor{
  font-size: large;
  font-weight: 700!important;
  background: linear-gradient(90deg,#fff018 0%, #fd2a00 100%)!important;
  -webkit-background-clip: text!important;
  -webkit-text-fill-color: transparent!important;
}

.snapColor2{
  font-size: 40px;
  font-weight: 700!important;
  background: linear-gradient(90deg,#fff018 0%, #fd2a00 100%)!important;
  -webkit-background-clip: text!important;
  -webkit-text-fill-color: transparent!important;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
  color: #ffffff;
  background-color: #fff;
  border-top-color:#ffae06!important;
  border-left-color: #ffae06!important;
  border-right-color: #ffae06!important;
  border-bottom-color: #ffffff!important;

}

.snapColor{
  color: #ffffff;
  background-color: #fff;
  border-top-color:#ffae06!important;
  border-left-color: #ffae06!important;
  border-right-color: #ffae06!important;
  border-bottom-color: #ffae06!important;

}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link:hover{
  color: #ffffff;
  background-color: #fff;
  border-top-color:#ffae06!important;
  border-left-color: #ffae06!important;
  border-right-color: #ffae06!important;
  border-bottom-color: #ffffff!important;

}
.inheritBg{
  background: inherit!important;
}
.nav-tabs {
  border-bottom: 1px solid #ffae06!important;
}

.icon {
  padding-right: 10px;
  vertical-align: middle;
}

