

 html, body {
  background-size: 100%;
  /* background-image: url("Pinchadiscosverde.gif"); */
  height: 100%;
  background-attachment: fixed
}
.container{
  width: 2050px;
}
.vertical-center {
  height: 100%;
  width: 100%;
  text-align: center;  /* align the inline(-block) elements horizontally */
  font: 0/0 a;         /* remove the gap between inline(-block) elements */
}
.vertical-center:before {    /* create a full-height inline block pseudo=element */
  content: ' ';
  display: inline-block;
  vertical-align: middle;  /* vertical alignment of the inline element */
  height: 100%;
}
.vertical-center > .container {
  max-width: 100%;
  background-color: gold;
  display: inline-block;
  vertical-align: middle;  /* vertical alignment of the inline element */
  font: 16px/1 "Helvetica Neue", Helvetica, Arial, sans-serif;        /* <-- reset the font property */
}
@media (max-width: 768px) {
  .vertical-center:before {
    /* height: auto; */
    display: none;
  }
}

input[type='text'] {
  width: 600px;
}

.ui-menu .ui-menu-item a{
  color: #96f226;
  border-radius: 0px;
  border: 1px solid #454545;
}

.ui-autocomplete {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  display: none;
  min-width: 160px;   
  padding: 4px 0;
  margin: 0 0 10px 25px;
  list-style: none;
  background-color: #9bffbc;
  border-color: #ccc;
  border-color: rgb(255, 255, 255);
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;
}

.ui-menu-item > a.ui-corner-all {
  display: block;
  padding: 3px 15px;
  clear: both;
  font-weight: normal;
  line-height: 18px;
  color: #000000;
  white-space: nowrap;
  text-decoration: none;
}

.ui-state-hover, .ui-state-active {
  color: #ffffff;
  text-decoration: none;
  background-color: #0088cc;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  background-image: none;
}

.button {
  background-color: #4CAF50; /* Green */
  color: white;
  border: none;
  width: 40px;
  border-radius: 900px;
  height: 40px;
  transition: all 0.5s; cursor: pointer;}
  .button:hover{ width: 45px; height: 45px;}

.loader {
  border: 16px solid #f7f8a7fa;
  border-radius: 50%;
  border-top: 16px solid #4CAF50;
  width: 90px;
  height: 90px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }


  #loading {
    background: #92c7eb; 
    background-image: url("https://i2.wp.com/www.movilescelular.com/wp-content/uploads/2016/08/Google-Now-Logo.png");
    background-size: 300px;
    background-position: center;
    display: inline-block;
    border: none;
    padding: 20px;
    width: 50px;
    border-radius: 900px;
    height: 50px;
    transition: all 0.5s; cursor: pointer;}
    #loading:hover{ width: 55px; height: 55px;}

#send{
  background-color:#4CAF50;
  color:rgb(255, 255, 255);
  font-size : 20px;
  border: none;
  width: 75px;
  border-radius: 900px;
  height: 35px;
  transition: all 0.5s; cursor: pointer;}
  #send:hover{ width: 80px; height: 40px;}

  input[type=text] {
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }
  
  input[type=text]:focus {
    width: 70%;
  }


